@import "core/variables";
@import "core/mixins";
@import "core/misc";


//TODO import in needed module not globally
@import "plugins/plugin-nouislider";
@import "plugins/plugin-react-datetime";
@import "plugins/plugin-react-slick";


@import "plugins/plugin-react-image-gallery";
@import "~react-grid-layout/css/styles.css";

/* start search module styles */
@import "modules/searchModule";
/* end search module styles */

/* start page list module styles */
@import "modules/pagelistModule";
/* end page list module styles */

/* start site map module styles */
@import "modules/sitemapModule";
/* end site map module styles */


/* start image gallery */

/*.image-gallery-description {
  display: block;
  right: 0;
  text-align: left;
}

.image-gallery-content,
.image-gallery,
.image-gallery-slide-wrapper,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide,
.image-gallery-slide div {
  height: 100%;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
}

.image-gallery-thumbnails-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.image-gallery-image {
  max-height: 100% !important;
}

.image-gallery-slide div {
  position: relative;
}*/

#__next {
  height: 100%;
}

body {
  min-height: 100%;
}