{
    "presets": [
        "next/babel",
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ]

    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ],
        "@babel/plugin-transform-modules-commonjs"
    ]
}